@model Category
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr />
        </div>
        <!--
            All, ModelOnly and None works in different ways for asp-validation-summary
            This puts the error message as a summary at the top of the page
        -->
        @*<div asp-validation-summary="ModelOnly"></div>*@
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <!--
            How it works:
                This label and input field use a tag helper: asp-for with the DisplayOrder property.
                This property is part of the Category model, located in the Models folder under Category.
                The DisplayOrder value is retrieved from the database as the model is accessed through the Category controller.

            Usually, we put a text in between the label tags.
            But since we are using a tag helper, we can manipulate on what text to be displayed.
            It is in the Models -> Category.cs file.
            Where we utilized DisplayName("TEXT HERE") as the text to be displayed

            In addition to that, we have the asp-validation-for as it helps validate for the DisplayOrder category
        -->
        <div class="mb-3 row p-1">
            <label asp-for="DisplayOrder" class="p-0"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">Back to List</a>
            </div>
        </div>

    </div>
</form>

<!--
    Client Side validation script

    For any partial view, the program will always look at Shared folder and match the files with the name
    After the name is matched, then the javascript that is needed will be integrated within
-->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}